numpy
scipy
matplotlib
tensorflow
opencv-python
annoy

Django
django-cors-headers
django-filter
PyJWT
django-graphql-jwt

graphene
graphene-django
Markdown
Pillow

inotify
asyncinotify
python-dateutil
pytz
pyshp
requests

python-redis-lock
redis

psycopg2-binary
gunicorn

pytest
pytest-django
mock
factory-boy
coverage
colorlog
